[Unit]
Description=Isengard-CLI, leveraging Wolfi to provide you brew

[Container]
#AutoUpdate=registry
Annotation=run.oci.keep_original_groups=1
ContainerName=isengard-cli
Environment=HOME=%h
Environment=SHELL=%s
Environment=USER=%u
Environment=USERNAME=%u
Environment=XDG_RUNTIME_DIR=%t
Environment=container=podman
Exec=--verbose --name %u  --user %U --group %G --home %h --init "0" --nvidia "1" --pre-init-hooks " " --additional-packages " " -- " "
HostName=isengard.%l
Image=ghcr.io/noelmiller/isengard-cli:latest
Network=host
PodmanArgs=--entrypoint /usr/bin/entrypoint
PodmanArgs=--ipc host
PodmanArgs=--label manager=distrobox
PodmanArgs=--no-hosts
PodmanArgs=--privileged
PodmanArgs=--security-opt apparmor=unconfined
PodmanArgs=--security-opt label=disable
Pull=newer
Ulimit=host
User=root:root
UserNS=keep-id
Volume=%h:%h:rslave
Volume=%t:%t:rslave
Volume=/:/run/host:rslave
Volume=/dev/null:/dev/ptmx
Volume=/dev/pts
Volume=/dev:/dev:rslave
Volume=/etc/hosts:/etc/hosts:ro
Volume=/etc/resolv.conf:/etc/resolv.conf:ro
Volume=/sys/fs/selinux
Volume=/sys:/sys:rslave
Volume=/tmp:/tmp:rslave
Volume=/var/home/%u:/var/home/%u:rslave
Volume=/var/log/journal
Volume=isengard-cli-gh:/XDG_DIRS/config/gh:rslave
Volume=isengard-cli-github-copilot:/XDG_DIRS/config/github-copilot:rslave
Volume=isengard-cli-zoxide:/XDG_DIRS/local/share/zoxide:rslave
Volume=isengard-cli-atuin:/XDG_DIRS/local/share/atuin:rslave

[Install]
WantedBy=isengard-cli.target

## For adding it as a prompt profile. This is still a work in progress.
# [Service]
# ExecStartPre=-/usr/libexec/prompt-remove-profile.sh %N
# ExecStartPost=-/usr/libexec/prompt-create-profile.sh %N
# ExecStop=-/usr/libexec/prompt-remove-profile.sh %N
